/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  /* font-size: 10px; to make our life easier so that we do not have to calculate to many caluclations */
  /* so it's good to use : 100 * 16 / 100 is 0.625 then 0.625 * 100 is 62.5%*/

  font-size: 62.5%;
}

body {
  font-weight: 400;
  /* font-size: 16px; */
  font-family: "Loto", sans-serif;
  line-height: 1.7;
  color: #777;
  box-sizing: border-box;
}

.header {
  height: 100vh;
  background-image: linear-gradient(
      to right bottom,
      rgba(126, 213, 111, 0.733),
      rgba(85, 197, 122, 0.432)
    ),
    url("../img/hero.jpg");
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative;
}

.logo-container {
  position: absolute;
  top: 4rem;
  left: 4rem;
}
.logo {
  height: 3.5rem;
  object-fit: contain;
}
.box-container {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.tex-box {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 6rem;
}
.text-top,
.text-bottom {
  display: block;
}
.text-top {
  font-size: 6rem;
  letter-spacing: 3.5rem;
  font-weight: 400;
  animation-name: movingInLeft;
  animation-duration: 2s;
  animation-timing-function: ease-out;
}
.text-bottom {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1.85rem;
  animation-name: movingInRight;
  animation-duration: 2s;
  animation-timing-function: ease-out;
}
.btn {
  background: #fff;
  padding: 1.5rem 2rem;
  color: inherit;
  text-transform: uppercase;
  display: inline-block; /* u can not animate inline element so have to make it inline -blok */
  border-radius: 10rem;
  transition-property: all;
  transition-timing-function: ease-out;
  transition-duration: 0.2s;
  font-weight: 400;
  font-size: 1.6rem;
}
.btn:link,
.btn:visited {
  text-decoration: none;
}

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 10rem 0.2rem rgba(0, 0, 0, 0.4);
}
.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 0.1rem rgba(0, 0, 0, 0.4);
}

@keyframes movingInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes movingInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
